<div class="container">
	<h1 class="title">{{ product.name }}</h1>
	<p> {{product.description }} </p>
	<p><img class="img-responsive" src="http://placehold.it/800x350" alt=""></p>
	<p> {{product.description }} </p>
	<p><img class="img-responsive" src="http://placehold.it/800x350" alt=""></p>
	<p> {{product.description }} </p>
	<p><img class="img-responsive" src="http://placehold.it/800x350" alt=""></p>
	<p> {{product.description }} </p>
	<p><img class="img-responsive" src="http://placehold.it/800x350" alt=""></p>
	<h2 class="title">Technical specifications</h2>
	<h4 class="title">Design</h4>
	<p>{{ product.technicalSpecs }}</p>
</div>