<div class="technical-specifications-container">
	<h2 class="title">Technical specifications</h2>
	<div class="technical-specs-section">
		<h4 class="title">Design</h4>
		<table class="technical-specs-table">
			<thead>
				<tr>
					<th>Type</th>
					<th>OS</th>
					<th>Dimensions</th>
					<th>Weight</th>
					<th>Material</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-label="Type">{{ design.type }}</td>
					<td data-label="OS">{{ design.OS }}</td>
					<td data-label="Dimensions">{{ design.dimensions }}</td>
					<td data-label="Weight">{{ design.weight }}</td>
					<td data-label="Materials">{{ design.materials }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>